<div class="c-buyNow c-b3">
  <div class="c-iconMsgWrapper">
    {% render 'icon-buy-now-pay-later', classes: 'o-icon__buyNow' %}
    <div class="c-msg">
      <h3 class="c-b2">
        {{ settings.buy_now_pay_later_text }}
      </h3>
      <div class="c-b3">
        {{ settings.buy_now_pay_later_subtext }}
      </div>
    </div>
  </div>
</div>
