<div class="c-freeShipping c-b3">
  <div class="c-iconMsgWrapper">
    {% render 'icon-shipping', classes: 'o-icon__shipping' %}
    <div class="c-msg">
      <h3 class="c-b2">
        {{ settings.free_shipping_text }}
      </h3>
      <p class="c-b3">
        {{ settings.free_shipping_subtext }}
      </p>
    </div>
  </div>
</div>
