<svg
  width="18"
  height="20"
  viewBox="0 0 18 20"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  class="o-icon {{ classes }}"
  role="img"
  aria-labelledby="title"
>
  <title>{{ title }}</title>
  <path d="M17.2077 2.08333V17.9167C17.2077 18.3366 17.0409 18.7393 16.7439 19.0363C16.447 19.3332 16.0443 19.5 15.6244 19.5H12.666C12.2461 19.5 11.8434 19.3332 11.5464 19.0363C11.2495 18.7393 11.0827 18.3366 11.0827 17.9167V2.08333C11.0827 1.66341 11.2495 1.26068 11.5464 0.963748C11.8434 0.666815 12.2461 0.5 12.666 0.5H15.6244C16.0443 0.5 16.447 0.666815 16.7439 0.963748C17.0409 1.26068 17.2077 1.66341 17.2077 2.08333ZM5.33268 0.5H2.37435C1.95442 0.5 1.5517 0.666815 1.25476 0.963748C0.957831 1.26068 0.791016 1.66341 0.791016 2.08333V17.9167C0.791016 18.3366 0.957831 18.7393 1.25476 19.0363C1.5517 19.3332 1.95442 19.5 2.37435 19.5H5.33268C5.75261 19.5 6.15534 19.3332 6.45227 19.0363C6.7492 18.7393 6.91602 18.3366 6.91602 17.9167V2.08333C6.91602 1.66341 6.7492 1.26068 6.45227 0.963748C6.15534 0.666815 5.75261 0.5 5.33268 0.5Z" fill="white"/>
</svg>
