<svg
  class="o-icon {{ classes }}"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  aria-labelledby="icon-instagram-title"
>
  <title id="icon-instagram-title">{{ shop.name }} on Instagram</title>
  <path fill-rule="evenodd" clip-rule="evenodd"
    d="M12.0148 15.3468C13.847 15.3468 15.3323 13.8587 15.3323 12.023C15.3323 10.1873 13.847 8.69922 12.0148 8.69922C10.1826 8.69922 8.69727 10.1873 8.69727 12.023C8.69727 13.8587 10.1826 15.3468 12.0148 15.3468Z"
    fill="white" />
  <path fill-rule="evenodd" clip-rule="evenodd"
    d="M21.9624 7.90258C21.9052 6.81375 21.7336 6.12607 21.5048 5.4957C21.276 4.80802 20.9328 4.29226 20.3609 3.7192C19.7889 3.14613 19.2741 2.80229 18.5877 2.57307C17.9585 2.34384 17.2149 2.17192 16.1853 2.11461C15.0414 2 14.7554 2 12.0098 2C9.26426 2 8.97827 2 7.89149 2.05731C6.80471 2.11461 6.11832 2.28653 5.43194 2.51576C4.74555 2.74499 4.23076 3.08883 3.65877 3.66189C3.08678 4.23496 2.74359 4.75072 2.51479 5.4384C2.28599 6.06877 2.1144 6.81375 2.0572 7.84527C2 8.9914 2 9.27794 2 12.0287C2 14.7794 2 15.0659 2.0572 16.1547C2.1144 17.2436 2.28599 17.9312 2.51479 18.5616C2.74359 19.2493 3.08678 19.765 3.65877 20.3381C4.23076 20.9112 4.74555 21.255 5.43194 21.4842C6.06112 21.7135 6.80471 21.8854 7.83429 21.9427C8.92107 22 9.26426 22 11.9526 22C14.6982 22 14.9842 22 16.0709 21.9427C17.1577 21.8854 17.8441 21.7135 18.4733 21.4842C19.1597 21.255 19.6745 20.9112 20.2465 20.3381C20.8184 19.765 21.1616 19.2493 21.3904 18.5616C21.6192 17.9312 21.7908 17.1862 21.848 16.1547C21.9052 15.0659 21.9052 14.7221 21.9052 12.0289V12.0287C22.0196 9.27794 22.0196 8.9914 21.9624 7.90258ZM12.0112 17.1804C9.15124 17.1804 6.86328 14.8882 6.86328 12.0228C6.86328 9.1575 9.15124 6.86523 12.0112 6.86523C14.8711 6.86523 17.1591 9.1575 17.1591 12.0228C17.1591 14.8882 14.8711 17.1804 12.0112 17.1804ZM16.123 6.69953C16.123 7.38721 16.6378 7.90297 17.3242 7.90297C18.0106 7.90297 18.5254 7.3299 18.5254 6.69953C18.5254 6.01185 18.0106 5.49609 17.3242 5.49609C16.6378 5.49609 16.123 6.01185 16.123 6.69953Z"
    fill="white" />
</svg>
