<svg
  class="o-icon {{ classes }}"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  aria-labelledby="icon-tiktok-title"
>
  <title id="icon-tiktok-title">{{ shop.name }} on Tiktok</title>
  <path fill-rule="evenodd" clip-rule="evenodd"
    d="M16.3286 1C16.6942 4.1219 18.449 5.98316 21.5 6.18117V9.69248C19.7319 9.86409 18.1831 9.28987 16.3818 8.20743V14.7746C16.3818 23.1173 7.22213 25.7244 3.53966 19.7446C1.1733 15.8967 2.62236 9.14466 10.2133 8.87406V12.5768C9.63501 12.6692 9.01683 12.8144 8.45183 13.0058C6.76348 13.5734 5.8063 14.636 6.07218 16.5105C6.58401 20.101 13.2178 21.1637 12.6661 14.1476V1.0066H16.3286V1Z"
    fill="white" />
</svg>
