<svg
  class="o-icon {{ classes }}"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  aria-labelledby="icon-facebook-title"
>
  <title id="icon-facebook-title">{{ shop.name }} on Facebook</title>
  <path fill-rule="evenodd" clip-rule="evenodd"
    d="M13.6319 23V12.9429H16.8956L17.3791 9.04571H13.6319V6.53143C13.6319 5.4 13.9341 4.64571 15.5055 4.64571H17.5V1.12571C17.1374 1.12571 15.989 1 14.5989 1C11.6978 1 9.76374 2.82286 9.76374 6.15429V9.04571H6.5V12.9429H9.76374V23H13.6319Z"
    fill="white" />
</svg>
