<svg
  class="o-icon {{ classes }}"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  aria-labelledby="icon-twitter-title"
>
  <title id="icon-twitter-title">{{ shop.name }} on Twitter</title>
  <path fill-rule="evenodd" clip-rule="evenodd"
    d="M24 5.19512C23.1111 5.57143 22.1538 5.8223 21.1966 5.88502C22.2222 5.32056 22.9744 4.44251 23.3846 3.37631C22.4274 3.87805 21.4017 4.25436 20.2393 4.44251C19.3504 3.56446 18.0513 3 16.6838 3C13.9487 3 11.7607 5.00697 11.7607 7.51568C11.7607 7.89199 11.8291 8.20557 11.8974 8.51916C7.79487 8.45645 4.17094 6.63763 1.7094 3.94077C1.29915 4.63066 1.02564 5.38328 1.02564 6.19861C1.02564 7.76655 1.91453 9.14634 3.21368 9.96167C2.39316 9.96167 1.64103 9.7108 0.957265 9.39721V9.45993C0.957265 11.6551 2.66667 13.4739 4.92308 13.8502C4.51282 13.9756 4.10256 14.0383 3.62393 14.0383C3.28205 14.0383 3.00855 14.0383 2.66667 13.9756C3.28205 15.7944 5.12821 17.0488 7.24786 17.1115C5.53846 18.3031 3.4188 19.0557 1.16239 19.0557C0.752137 19.0557 0.34188 19.0557 0 18.993C2.18803 20.2474 4.78632 21 7.52137 21C16.547 21 21.4701 14.1638 21.4701 8.20557C21.4701 8.01742 21.4701 7.82927 21.4701 7.64111C22.4957 6.8885 23.3162 6.13589 24 5.19512Z"
    fill="white" />
</svg>
