<svg
  class="o-icon {{ classes }}"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  aria-labelledby="icon-youtube-title"
>
  <title id="icon-youtube-title">{{ shop.name }} on Youtube</title>
  <g clip-path="url(#clip0_102_2977)">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M21.1615 5.22088C21.8816 5.92771 22.078 7.46988 22.078 7.46988C22.078 7.46988 22.3398 9.26908 22.2744 11.1325V12.8675C22.2744 14.7309 22.078 16.5301 22.078 16.5301C22.078 16.5301 21.8161 18.0723 21.1615 18.7791C20.4103 19.5732 19.5571 19.6663 19.0521 19.7215C18.985 19.7288 18.924 19.7354 18.8703 19.743C15.6626 20 10.8838 20 10.8838 20C10.8838 20 4.92664 19.9357 3.09367 19.743C2.98029 19.7151 2.83622 19.6964 2.67142 19.6749C2.07508 19.5971 1.20738 19.4839 0.540608 18.7791C-0.179487 18.0723 -0.375876 16.5301 -0.375876 16.5301C-0.375876 16.5301 -0.572266 14.6667 -0.572266 12.8675V11.1325C-0.572266 9.26908 -0.375876 7.46988 -0.375876 7.46988C-0.375876 7.46988 -0.114024 5.92771 0.540608 5.22088C1.34893 4.42745 2.20818 4.33381 2.71413 4.27868C2.78183 4.2713 2.8432 4.26461 2.89728 4.25703C6.10498 4 10.8838 4 10.8838 4C10.8838 4 15.6626 4 18.8703 4.25703C18.924 4.26456 18.985 4.27122 19.0521 4.27854C19.5571 4.33366 20.4103 4.42679 21.1615 5.22088ZM14.7463 11.7111L8.52734 8.5625V14.8597L14.7463 11.7111Z"
      fill="white" />
  </g>
  <defs>
    <clipPath id="clip0_102_2977">
      <rect width="24" height="24" fill="white" />
    </clipPath>
  </defs>
</svg>
