<div class="c-warranty c-b3">
  <div class="c-iconMsgWrapper">
    {% render 'icon-warranty', classes: 'o-icon__warranty' %}
    <div class="c-msg">
      <h3 class="c-b2">
        {{ settings.warranty_text }}
      </h3>
      <div class="c-b3">
        {{ settings.warranty_subtext }}
      </div>
    </div>
  </div>
</div>
